.user-profile-table {
	border: 1px solid lightgray;
}

.user-profile-row td:first-of-type {
	font-weight: bold;
}

.user-profile-cell {
	border: 1px solid lightgray;
	padding: 10px;
	font-size: 1rem;
}

.user-profile-input-cell {
	border: 1px solid lightgray;
	font-size: 1rem;
}

.user-profile-input {
	font-size: .8rem;
	border: none;
	padding: 10px;
	background: skyblue;
}